@model TodoModel;
@{
    ViewData["Title"] = @Model.Name + " Delete";
}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">

            <div class="card-body">
                <h5>
                    Id: @Model.Id
                </h5>
                <h5>
                    Name: @Model.Name
                </h5>
               

            </div>
            <div class="card-footer">
                <form asp-controller="Todo" asp-action="CompleteTodo" asp-route-id="@Model.Id" method="delete">
                    <button class="btn btn-block btn-danger" type="submit"> is task completed?</button>
                </form>
            </div>
        </div>
    </div>

</div>
