@{
    ViewData["Title"] = "Create Todo";
}
@model TodoModel;

<h1>Create</h1>
<div class="row">
    <div class="col-6">
        <div class="card">

            <div class="card-body">
                <form asp-controller="Todo" asp-action="newtodo" method="post">
                    <div class="mb-3">
                        <label class="form-label">
                            Id
                        </label>
                        <input asp-for="Id" type="text" class="form-control" min="0" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Task to be done
                        </label>
                        <input asp-for="Name" type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success btn-block">Add to List</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>