@{
    ViewData["Title"] = "List of todos";
}
@model List<todoproject.Models.TodoModel>;

<h2> All todo's</h2>
<style>    h2 {
        text-align: center;
    }</style>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Task to be done</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Model)
        {
            @if (todo.Finishdate == DateTime.MaxValue)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Name</td>
                    <td>
                        <a asp-controller="Todo" asp-action="Complete" asp-route-id="@todo.Id">
                            Mark as done
                        </a>

                    </td>
                </tr>
}
           
        }
    </tbody>
   
</table>
